.page-header
  %h1=t('ticket.history_index')

%p
  ="Ticket id: #{@ticket.id}"

%p
  = link_to t('ticket.new'), new_ticket_path
  \|
  = link_to t('ticket.edit'), edit_ticket_path(@ticket)
  \|
  = link_to t('ticket.back'), tickets_path

- if @versions.blank?
  %p
    = t('ticket.no_history')
- else
  %table.table.table-striped
    %thead
      %tr
        %th
          =t('ticket.table.name')
        %th
          =t('ticket.table.email')
        %th
          =t('ticket.table.departure')
        %th
          =t('ticket.table.subject')
        %th
          =t('ticket.table.body')
        %th
          =t('ticket.table.status')
        %th
          =t('ticket.history_table.event')
        %th
          =t('ticket.history_table.modified_by')
        %th
          =t('ticket.history_table.modified_at')
        %th
          =t('ticket.history_table.ip')
        %th
          =t('ticket.table.owner')
        %th
          =t('ticket.table.comment')
    %tbody
      - @versions.each do |version|
        - ticket = version.reify
        - ticket ||= @ticket
        %tr
          %td= ticket.name
          %td= ticket.email
          %td= ticket.departure
          %td= ticket.subject
          %td= ticket.body
          %td= ticket.status.name
          %td= version.event
          %td= version.whodunnit
          %td= version.created_at
          %td= version.ip
          %td= ticket.staff_member.try(:name)
          %td= ticket.staff_comment
