%h1
  Welcome,
  = @ticket.name
%p
  Ticket was updated:
  = link_to t('ticket.show'), @ticket
  \|
  = link_to t('ticket.edit'), edit_ticket_path(@ticket)
  \|
  = link_to t('ticket.history'), ticket_ticket_versions_path(@ticket)
%p

%p Thanks and have a great day!