=bootstrap_form_for @ticket do |f|
  = f.text_field :name
  = f.email_field :email
  = f.text_field :departure
  = f.text_field :subject
  = f.text_area :body
  - if staff_member_signed_in?
    = f.select(:status_id, Status.active_values)
    = f.select(:staff_member_id, StaffMember.all.map {|sm| [sm.name, sm.id]})
    = f.text_area :staff_comment
  = f.submit t('ticket.save')
