.page-header
  %h1=t('ticket.index')

- if staff_member_signed_in?
  %p
    %ul.nav.nav-pills
      - Status.active.each do |status|
        %li= link_to status.name, tickets_retrieve_path(status.code)

= link_to t('ticket.new'), new_ticket_path
%div
  - if @tickets.blank?
    %p
      = t('ticket.not_found')
  - else
    %table.table.table-striped
      %thead
        %tr
          %th
            =t('ticket.table.name')
          %th
            =t('ticket.table.email')
          %th
            =t('ticket.table.departure')
          %th
            =t('ticket.table.subject')
          %th
            =t('ticket.table.body')
          %th
            =t('ticket.table.status')
          %th
            =t('ticket.table.owner')
          %th
          %th
          %th

      %tbody
        - @tickets.each do |ticket|
          %tr
            %td= ticket.name
            %td= ticket.email
            %td= ticket.departure
            %td= ticket.subject
            %td= ticket.body
            %td= ticket.status.name
            %td= ticket.staff_member.try(:name)
            %td= link_to t('ticket.show'), ticket
            %td= link_to t('ticket.edit'), edit_ticket_path(ticket)
            %td= link_to t('ticket.history'), ticket_ticket_versions_path(ticket)

