.page-header
  %h1
    =t('ticket.show')
%p
  %b
    ="#{t('ticket.table.id')}:"
  =@ticket.id
%p
  %b
    ="#{t('ticket.table.name')}:"
  =@ticket.name
%p
  %b
    ="#{t('ticket.table.email')}:"
  =@ticket.email
%p
  %b
    ="#{t('ticket.table.departure')}:"
  =@ticket.departure
%p
  %b
    ="#{t('ticket.table.subject')}:"
  =@ticket.subject
%p
  %b
    ="#{t('ticket.table.body')}:"
  =@ticket.body
%p
  %b
    ="#{t('ticket.table.status')}:"
  =@ticket.status.name
%p
  %b
    ="#{t('ticket.table.comment')}: #{@ticket.staff_comment.blank? ? t('ticket.table.no_comment') : @ticket.staff_comment}"


= link_to t('ticket.history'), ticket_ticket_versions_path(@ticket)
\|
= link_to t('ticket.edit'), edit_ticket_path(@ticket)
\|
= link_to t('ticket.back'), tickets_path
