=bootstrap_form_for 'search', as: :post, url: search_path, layout: :inline do |f|
  = f.text_field :phrase, hide_label: true, placeholder: 'Enter your search...', value: @phrase.nil? ? '' :@phrase
  = f.submit 'Search'
